:root {
  --posit-92-accent: #ff5555;
  --posit-92-dark-accent: #aa0000;

  --overlay-width: 640px;
  --overlay-height: 400px;

  --play-button-width: 192px;
  --play-button-height: 192px;
}

body {
  background: black;
  margin: 0;
  padding: 0;
}

#play-overlay {
  position: absolute;
  margin: auto;
  inset: 0;
  width: var(--play-button-width);
  height: var(--play-button-height);

  background: inherit;
}

#play-overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  border-radius: 50%;
  background: linear-gradient(to bottom, #FFFFFF, #787878);
}

#play-overlay > button {
  position: absolute;
  margin: auto;
  inset: 0;
  border-radius: 50%;

  font-size: 32px;
  color: white;
  cursor: pointer;

  /* background: transparent; */
  background: linear-gradient(to bottom, #FFFFFF, #787878);
  /* border: 1px solid var(--posit-92-dark-accent); */
  border: none;
  box-sizing: border-box;

  transition:
    filter 0.2s ease-out,
    transform 0.2s ease-out;
}

#play-overlay > button > div:first-child {
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;

  pointer-events: none;

  background: repeating-conic-gradient(
    from 92deg,
    #FFFFFF 0deg,
    #787878 36deg,
    #FFFFFF 72deg);
  width: 92%;
  height: 92%;
}

@keyframes yellow-neon {
  0% { filter: drop-shadow(0 0 12px #FFFF55) }
  50% { filter: drop-shadow(0 0 20px #FFFF55) }
  100% { filter: drop-shadow(0 0 12px #FFFF55) }
}

#play-overlay > button > img {
  image-rendering: pixelated;
  
  filter: drop-shadow(0 0 12px #FFFF55);
  will-change: filter;

  transform: scale(2);
}

#play-overlay > button:hover {
  filter: brightness(1.1);
}

#play-overlay > button:active {
  filter: brightness(0.8);
}



#game {
  image-rendering: pixelated;
  scale: 2;
  transform-origin: top left;
  border: none;
}

#game:focus {
  outline: none
}

/* Use this for fullscreen */
#game.scale-fit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scale: 1;
}

#game.scale-stretch {
  width: 100vw;
  height: 100vh;
  object-fit: fill;
  scale: 1;
}


#loading-overlay {
  position: absolute;
  margin: auto;
  inset: 0;
  width: var(--overlay-width);
  height: var(--overlay-height);

  color: white;
  opacity: 1.0;

  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loading-overlay.hidden {
  opacity: 0.0;
  pointer-events: none;
}

#loading-overlay > div {
  width: fit-content;
  height: fit-content;
}
